<ion-view class="body-main cfe-texto-blanco text-center" view-title="main">
	<ion-side-menus>
		<ion-side-menu-content>
			<ion-header-bar class="cfe-verde" align-title="center">
				<div class"buttons">
					<button class="button icon button-clear ion-navicon-round" ng-click="toggleLeft()"> </button>
				</div>
				<h1 class="title h1-main cfe-texto-blanco">Sistema de Gestión Operativa</h1>
			</ion-header-bar>

 			<ion-content class="padding">
		 		<div class="list">
			        <a ng-repeat="item in items" 
			           href="#/{{item.id_prog_mtto}}"
			           class="item item-thumbnail-left">

			          <img ng-src="{{ imagen }}">
			          <h1>{{ item.nombre_mantenimiento }}</h1>
			          <h2>{{ item.orden_trabajo_personal.supervisor }}</h2>
			          <h3>{{ item.trabajo_solicitado }}</h3>
			        </a>
		      	</div>
		    </ion-content>

		</ion-side-menu-content>
		
		<ion-side-menu side="left">
		    <ion-header-bar class="cfe-verde-2" align-title="center">
		      <h1 class="title h1-main cfe-texto-blanco">Opciones</h1>
		    </ion-header-bar>
    		<ion-content>
				<ion-list>
					<ion-item menu-close>
						<h2><b>Sesión: {{sesion.usuario}}</b></h2>
					</ion-item>
					<ion-item menu-close ng-click="cerrarSesion()">
						Cerrar Sesión
					</ion-item>
					<ion-item menu-close ng-click="cambiarUsuario()">
						Cambiar de usuario
					</ion-item>
				</ion-list>
    		</ion-content>
  		</ion-side-menu>
	</ion-side-menus>						

</ion-view> 








